@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>John's Flashcard Maker</h1>
</div>

<div class="row">
    <p>Welcome to my flashcard maker. Click below to create some flashcards.</p>
</div>

<div class="row">
   @Html.ActionLink("click here!", "Create", "MemoryCard")
 </div>