@{
    ViewBag.Title = "Home Page";
}



    <div class="row">
        <h3>Welcome to my flashcard maker. Click the "Create" button to create a flashcard. If you've already created some flashchards, click "Practice" start memorizing.</h3>
    </div>


    <div class="row">
    <div class="btn btn-default btn btn-default glyphicon glyphicon-flash">
        @Html.ActionLink("Create", "Create", "MemoryCard")

    </div>

    <div class="btn btn-default btn btn-default glyphicon glyphicon-flash">
        @Html.ActionLink("Practice", "CardBySubject", "MemoryCard")
    </div>
    
